html, #root, #root>div{
    min-height: 100%;
}

img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    background: linear-gradient(164.5deg, #A352BB -9.1%, #132A7C 34.01%, #020C20 86.03%);
    min-height: 100%;
}

/* -----------------------------profile-a div styling  --------------------------------------------------------------------------*/

.heading{
margin-top:15%;
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 400;
font-size: 2.5rem;
width: 100%;
margin-left: auto;
margin-right: auto;
display: inline-block;
letter-spacing: -0.02em;
margin-top: 2%;
color: #FFFFFF;
mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-div{
    display: flex;
}

.profile-a{
    width: 50%;
    text-align: center;
}

.profile-picture{
    position: relative;
    margin-top:8%;
    top: 0%;
}

.username{
    margin-top: 3%;
    font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 400;
font-size: 1.7rem;
line-height: 111%;
/* identical to box height, or 39px */  

display: inline-block;
letter-spacing: -0.0em;
margin-left: auto;
color: #FFFFFF;
}

.no-team-edit-button{
    margin: 3% 3%;
    background: #000000;
    border-radius: 12px;
    width: 21%;
    border: none;
    padding: .5% 4%;
}
    
.no-team-text{
    color: #FFFFFF;
    font-weight: 400;
}

.no-team-edit-button:hover{
    box-shadow: 1px 1px 15px rgba(24, 255, 255, 0.5);
}

.no-team-edit-button-text{
    font-size: 1.1em;
    text-align: center;
    
    color: rgba(24, 255, 255, 0.8);
}
/* ------------------------------------------profile-b div styling---------------------------------------- */

.profile-b{
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 0px;
}

.user-detail-label{
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
letter-spacing: 0.1em;
color: #FFFFFF;
margin-bottom: 0px;
margin-top: 5%;
}

.user-detail-input{
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-size: .9rem;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    padding-left: .1%;
    width: 56.7%;
    display: inline-block;
    margin:0;
}
.fa-eye{
display: inline-block; 
cursor: pointer;
color: #FFFFFF;
}

.profile-b-form{
    margin-top: 18%;
    width: 90%;
    height: 100%;
    margin-left: auto;
    padding-top: 0;
}

.user-detail-line{
    margin-top: 1%;
    height: 0px;
    display: block;
    width: 60%;
    background-color: white;
    border: 0.5px solid #FFFFFF;
    backdrop-filter: blur(3px);
    margin-bottom: 7%;
}


.profile-edit-button-div{
    display: flex;
    width: 80%;
    height: 7%;
}

.profile-edit-button{
margin-left: 13%;
background: #000000;
border-radius: 12px;
width: 18%;
border: none;
}

.profile-edit-button:hover{
    box-shadow: 1px 1px 15px rgba(24, 255, 255, 0.5);
}

.profile-edit-button-text{
font-size: 1.5rem;
text-align: center;

color: rgba(24, 255, 255, 0.8);
}


.team-div{
    display: flex;
    height: 100%;
}

.team-a{
    width: 60%;
}

.team-b{
    width: 40%;

}

.rectangle{
position: inherit;
background: #000000;
box-shadow: 1px 1px 20px rgba(24, 255, 255, 0.5);
border-radius: 15px;
margin: 2% auto;
width:80%; 
margin-bottom: 3%; 
}

.rect-main{
    display: flex;
}

.rectangle-left{
    width: 50%;
}

.rectangle-right{
    width: 50%;
}

.rect-heading{
    padding-top: 5%;
    padding-bottom: 5%;
width: 100%;
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 50px;
text-align: center;

color: rgba(24, 255, 255, 0.8);
}

.rect-left-label{
font-family: 'Century Schoolbook';
margin-left: 11%;
margin-bottom: 8%;
font-style: normal;
font-weight: 400;
font-size:1.8rem;
line-height: 50px;
align-items: center;

color: rgba(255, 255, 255, 0.8);

}

.rect-right-label{
font-family: 'Century Schoolbook';
margin-left: 11%;
margin-bottom: 8%;
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 50px;
align-items: center;
color: rgba(24, 255, 255, 0.8);
}

.rect-right-label-member{
    font-family: 'Century Schoolbook';
margin-left: 11%;
margin-bottom: 0px;
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 50px;
align-items: center;
color: rgba(24, 255, 255, 0.8);
}

.team-picture{
    width: 90%;
    margin-left: auto;
    display: block;
    margin-right: 18%;
    margin-top: 23%;
}

.team-edit-button{
    padding: 1%;
    margin:3% 0%;
    display: inline-block;
    margin-left: 2%;
    position: relative;
    left: 25%;
    width: 20%;
background: rgba(23, 33, 113, 0.7);
border-radius: 15px;
border: none;
margin-bottom: 3.5%;
}


.team-edit-button:hover{
    box-shadow: 1px 1px 20px rgba(24, 255, 255, 0.5);
}

.team-edit-button-text{
font-size: 1.2rem;
line-height: 31px;
text-align: center;
color: #08B3E3;
}

.rectangle-mobile{
    position: inherit;
background: #000000;
box-shadow: 1px 1px 20px rgba(24, 255, 255, 0.5);
border-radius: 15px;
margin: 2% auto;
width:80%; 
margin-bottom: 3%; 
    display: none;
}

.mobile-rect-heading{
    padding-top: 10%;
    padding-left: 8%;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: rgba(24, 255, 255, 0.8);
    font-size: 1.8rem;
}

.team-pic-mobile{
    margin-left: auto;
    display: inline-block;
    width: 40%;
    margin-top: 5%;
}

.mob-team{
    margin-top: -3%;
    padding-left: 8%;
}

.mobile-rect-label{
    width: 100%;
    font-size: 1.4rem;
    display: block;
    font-family: 'Century Schoolbook';
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
    margin-top: 0;
}

.rect-mobile-label{
    width: 100%;
    font-size: 1.4rem;
    display: block;
    font-family: 'Century Schoolbook';
    font-style: normal;
    margin-top: -2%;
    color: rgba(24, 255, 255, 0.8);
    margin-bottom: 15%;
}

.rect-mobile-label-member{
    width: 100%;
    font-size: 1.4rem;
    display: block;
    font-family: 'Century Schoolbook';
    font-style: normal;
    margin-top: -2%;
    color: rgba(24, 255, 255, 0.8);
}

@media screen and (min-width: 990px){
    .heading{
        font-size: 4rem;
    }
}
@media screen and (max-width: 820px){
    .heading{
        margin-top: 5%;
        font-size: 3rem;
    }

    .username{
        margin-top: 7%;
        font-size: 1.8rem;
    }

    .no-team-edit-button{
        width: 33%;
    }

    .profile-b-form{
        margin-left: 0%;
    }

    .user-detail-input{
        color: #08B3E3;
        font-size: .9rem;
    }

    .user-detail-label{
        font-size: 1.5rem;
    }

    .user-detail-line{
        width: 70%;
    }

    .profile-edit-button-div{
        position: relative;
        right:8%;
        width: 100%;
        margin-top: 10%;
    }

    .profile-edit-button-text{
        font-size: 1.2rem;
    }

    .profile-edit-button{
        margin: 1.5%;
        width: 40%;
        border-radius: 8px;
        padding: 2.5% 0;
    }

    .team-edit-button{
        margin-top: 15%;
        width: 35%;
        left: 12%;
        margin-bottom: 8%;
    }

    .rectangle-mobile{
        width: 90%;
        margin-bottom: 5%;
    }

    .team-edit-button-text{
        font-size: 1rem;
    }
}

@media screen and (max-width: 820px){
    .profile-div{
        flex-direction: column;
        overflow: hidden;
    }

    .profile-a{
        width: 100%;
    }

    .profile-picture{
        margin-top: 10%;
        width: 65%;
    }

    .profile-b{
        width: 100%;
        padding: 2%;
        margin: 10% 0%;
        overflow: hidden;
    }

    .profile-b-form{
        margin-left: 23%;
        margin-top: 10%;
    }

    .team-div{
        flex-direction: column;
    }
    .team-a{
        display: none;
    }
    .team-b{
        display: none;
    }

    .rectangle-mobile{
        display: block;
    }
}

