.title14 {
    font-family: "Century Schoolbook";
    font-size: 3.7rem;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    
    
  } 

.box4 {
    /* Box part */
    display: block;
    background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
    mix-blend-mode: normal;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: auto auto;
    padding: 3.104%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
      min-height: 8%;
}
.box4 .sent1 label {
    /* email,name,password -title */
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 111%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.04em;
    
    color: #fff;
    
    }
    .box4 .sent2 label {
        /* email,name,password -title */
        font-family: 'Century Schoolbook';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 111%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        letter-spacing: -0.04em;
        margin:10%;
        
        color: #CBE9FF;
        
        }
    
    
    .box4 input[type="submit"], .box4 button[type="submit"], a.button {
        /* signup button */
    font-family: 'Century Schoolbook';
    margin: auto;
    padding: 2.7%;
        
    
    font-weight: 700;
    font-size: 2.1rem;
    align-items: center;
    text-align: center;
    display: flex;
    color: #fff;
    background: #111C56;
    mix-blend-mode: normal;
    border: 4px solid #CBE9FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width:60%;
    justify-content: center;
    margin-top: 6%;
    
    
    
        
    }
    
    .box4 input[type="submit"]:hover, .box4 button[type="submit"]:hover, a.button:hover {
        opacity: 0.8;
    
    
    }
    @media only screen and (max-width:500px){
        .title14 {
            font-family: "Century Schoolbook";
            font-size: 2.7rem;
            color: #fff;
            font-weight: 700;
            justify-content: center;
            text-align: center;
            margin-top: 25%;
            
          } 
    
        .box4 {
            /* border */
            display: block;
            background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
            mix-blend-mode: normal;
            border: 4px solid #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            top:55%;
            padding: 9.104%;
            position: absolute;
           
            width: 90%;
            height: 55%;
        
        
        }
      
        .box4 input[type="submit"], .box4 button[type="submit"], a.button {
            margin-top:14%;
            font-family: 'Century Schoolbook';
            padding-top: 2%;
            
        
        font-weight: 700;
        font-size: 1.8rem;
        align-items: center;
        text-align: center;
        display: flex;
        color: #fff;
            background: #111C56;
        mix-blend-mode: normal;
        border: 4px solid #CBE9FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        width:65%;
        justify-content: center;
    
       
            
        }
        .login-link{
            font-family: 'Century Schoolbook';
            font-style: italic;
            font-weight: 700;
            font-size: 1.516rem;
            line-height: 120%;
            display: flex;
            align-items: center;
            text-align: center; 
            color: #fff;
            width: 89%;
            left:10%;
           margin-top:10%;
            position: relative;
            justify-content: center;
            
            
        }
        
    }