 .emailcomp label{
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 111%;
display: flex;
align-items: center;
text-align: center;
margin-top:10%;
letter-spacing: -0.04em;

color: #CBE9FF;
  }
  
  .emailcomp input{    
    background: transparent;
    color: #fff;
    border: 5px #0C1F5D;
    border-bottom: 5px solid #CBE9FF; 
    font-size: x-large;
    font-family: 'Century Schoolbook';
    font-style: normal;
    letter-spacing: 1.25%;
    outline: none;
    padding: 2%;
    width: 100%;
  ;
  }
  
   .loginbutton {
  
    display: flex;
    justify-content: center;
   

  } 
  
  .loginbutton button {
    background: rgba(10, 19, 29, 0.62);
    margin-top: 24%;
    margin-bottom: 2.2%;
    text-align: center;
    align-items: center;
   justify-content: center;
    color: #fff;
    padding: 1.9%;
    border: 4px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: "Century Schoolbook";
    width:39%;
    
  }
  
  .forgot {
    font-family: "Century Schoolbook";
    font-style: normal;
    font-weight: 700;
    /* font-size: 1.2rem; */
    font-size: 1.4rem;
    top:55%;
    line-height: 111%;
    margin-bottom: 2.7%;
    position: absolute;
    right: 3rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }
  
  .dont pre{
    font-family: "Century Schoolbook";
    font-style: italic;
  
    margin-top: 5%;
    margin-bottom: 3.9%;
    text-align: center;
    font-size: 1.56rem;
    line-height: 111%;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
  }
  
  .login-page {
    background-image: url("../Images/circuit-img.svg"),
      linear-gradient(136.06deg, #9d4fb3 -12.44%, #102670 39.32%, #020c20 88.35%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
   .title1 {
    font-family: "Century Schoolbook";
    font-size: 3.7rem;
    color: #fff;
    font-weight: 700;
    
  } 
  
  .login-box {
    background: linear-gradient(180deg, #0c1f5d 0%, #202a77 100%);

    border: 4px solid rgba(203, 233, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 31%;
    min-height: 10%;
    color: #fff;
    position: relative;
   padding: 3%;
 
  }
  
  
  @media only screen and (max-width: 550px) {
    .title1{
      font-size: 2.9rem;
    }
    .login-page {
      background-image: url("../Images/circuit2.svg"),
        linear-gradient(
          136.06deg,
          #9d4fb3 -12.44%,
          #102670 39.32%,
          #020c20 88.35%
        );
      
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .login-page {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .login-box {
      background: linear-gradient(180deg, #0c1f5d 0%, #202a77 100%);
      border: 4px solid rgba(203, 233, 255, 1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      width: 90%;
      height: 83%;
      color: #ffffff;
      position: relative;
     
      padding-bottom: 2%;
      padding-left: 3%;
      padding-right: 3%;
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-bottom: 21%;
    }
    .emailcomp{
      position: relative;
      left:5%;
    }
    .emailcomp input {
      font-family: "Century Schoolbook" #CBE9FF;
      background: transparent;
      border: 0px none;
      border-bottom: 5px solid #CBE9FF;
      width: 90%;
      padding-top: 5%;
      justify-content: center;
    }
  
    .emailcomp label{
  
      font-family: "Century Schoolbook";
      font-style: normal;
      font-weight: 700;
      font-size: 1.65rem;
      line-height: 111%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      letter-spacing: -0.04em;
      font-weight: 700;
      color: #ffffff;
      
    }
    .forgot {
      display: flex;
      position: absolute;
      right:1.6rem;
      font-size: 1.4rem;
      font-weight: 700;
      font-family: "Century Schoolbook";
      top:auto;
      margin-top:3%;
      
     
    } 
  
    .dont pre{
      text-align: center;
      padding-top:13%;
      font-size: 1.45rem;
      line-height: 111%;
      color: #fff;
      font-weight: 700;
      font-family: "Century Schoolbook";

     
    }
  
    .loginbutton button {
      display: flex;
      width:49%;
      line-height: 80%;
      margin-top:25%;
      text-align: center;
      align-items: center;
      border-radius: 25px;
      justify-content: center;
      font-size: 1.7rem;
      font-weight: 700;
      font-family: "Century Schoolbook";
      
    }
    
  
    

  }