
*{
    box-sizing: border-box;
    
}
.sign{
    /* header signup */
    
    position: absolute; 
    width: 100%;
    height: 100%;
    background-image: url("../Images/bg.svg"),
    linear-gradient(136.06deg, #9D4FB3 -12.44%, 
    #102670 39.32%, #020C20 88.35%);   
    background-repeat: no-repeat;
    background-size: cover; 

}

.sign-t{
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 111%;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 30%;
    margin-left: 35%;
    margin-top: 6%;
    text-align: center;
    min-height: 30%;
} 

.box {
    display: block;
    background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
    mix-blend-mode: normal;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: auto auto;
    padding: 3.104%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    

}

.login-link{
    /* already signup */
    font-family: 'Century Schoolbook';
    font-style: italic;
    font-weight: 700;
    font-size: 1.52rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #fff;
    width: 100%;
    left:10%;
    margin-top:6%;
    position: relative;
    text-decoration: none;
    
    
}

.box .inputBox label {
/* email name password */
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 111%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;

color: #CBE9FF;

}


.box .inputBox input {
    
    background: transparent;
    color: #FFF;
    border: 3px #0C1F5D;
    border-bottom: 5px solid #CBE9FF; 
    letter-spacing: 6.25%;
    margin-bottom: 6.5%;
    outline: none;
    padding: 5%;
    width: 100%;
    
}


.box input[type="submit"], .box button[type="submit"], a.button {
font-family: 'Century Schoolbook';
margin: auto;
padding: 5%;
    

font-weight: 700;
font-size: 2.1rem;
align-items: center;
text-align: center;
display: flex;
color: #fff;
background: #111C56;
mix-blend-mode: normal;
border: 4px solid #CBE9FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

width:40%;
justify-content: center;



    
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
    opacity: 0.8;


}
@media only screen and (max-width:500px){

    .box {
        /* border */
        display: block;
        background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
        mix-blend-mode: normal;
        border: 4px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: auto auto;
        padding: 9.104%;
        position: absolute;
       
        width: 90%;
        height: 73%;
       
    
    }
    .sign-t{
        font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 111%;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 30%;
    margin-left: 30%;
    margin-top: 16%;
    text-align: center;
    min-height: 30%;


    }
    .box input[type="submit"], .box button[type="submit"], a.button {
        font-family: 'Century Schoolbook';
        margin: auto;
        padding: 5.5%;
        
    
    font-weight: 700;
    font-size: 1.65rem;
    align-items: center;
    text-align: center;
    display: flex;
    color: #fff;
        background: #111C56;
    mix-blend-mode: normal;
    border: 4px solid #CBE9FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width:50%;
    padding: 1.5%;
    justify-content: center;

   
        
    }
    .login-link{
        font-family: 'Century Schoolbook';
        font-style: italic;
        font-weight: 700;
        font-size: 1.516rem;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center; 
        color: #fff;
        width: 89%;
        left:10%;
       margin-top:7%;
        position: relative;
        justify-content: center;
        
        
    }
    
}
