
*{
    box-sizing: border-box;
    
}

body {

   
   position: center;
   background-size:100%;

width: 100%;
height: 100%;
background-attachment: fixed;
background-image: url("./bg.svg"),linear-gradient(136.06deg, #9D4FB3 -12.44%, #102670 39.32%, #020C20 88.35%);   
    background-repeat: no-repeat;
    background-size: cover; 
   
   
}
header {
    display: none;
}
.sign{
    /* header signup */
    
    position: relative; 
    width: 100%;
   

font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.625rem;
line-height: 111%;
display: block;
align-items: center;
text-align: center;
color: #FFFFFF;
/* min-height: 10%; */

}

h1{
    width: 30%;
    margin-left: 35%;
    margin-top: 4.5%;
    text-align: center;
    min-height: 30%;
}

.box {
    /* border */
    display: block;
    background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
    mix-blend-mode: normal;
border: 4px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
    margin: auto auto;
    padding: 3.104%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    

}

.login-link{
    /* already signup */
    font-family: 'Century Schoolbook';
    font-style: italic;
    font-weight: 700;
    font-size: 1.52rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #fff;
    width: 100%;
    left:10%;
   margin-top:6%;
    position: relative;
    
    
}

.box .inputBox label {
/* email name password */
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 111%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;

color: #CBE9FF;

}


.box .inputBox input {
    /* underboxforemail */
   /* background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%); */
   background: transparent;
    color: #FFF;
   border: 3px #0C1F5D;
   border-bottom: 5px solid #CBE9FF; 
    letter-spacing: 6.25%;
    margin-bottom: 6.5%;
    outline: none;
    padding: 5%;
    width: 100%;
    
}


.box input[type="submit"], .box button[type="submit"], a.button {
    font-family: 'Century Schoolbook';
   /* padding done */
    margin: auto;
    padding: 5.5%;
    

font-weight: 700;
font-size: 1.813rem;
align-items: center;
display: flex;
color: #fff;
    background: #111C56;
mix-blend-mode: normal;
border: 4px solid #CBE9FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;


    
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
    opacity: 0.8;


}
@media only screen and (max-width:600px){



    .sign{
        /* header signup */
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.44rem;
line-height: 111%;
/* identical to box height, or 50px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;
height:20%;
width: 73%;
padding-bottom: 18%;
margin:8.7%;

color: #FFFFFF;
    
    }

    .box {
        /* border */
        display: block;
        background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
        mix-blend-mode: normal;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
        margin: auto auto;
        padding: 9.104%;
        position: absolute;
       
        width: 90%;
        height: 75%;
       
        
        
    
    }
    .box input[type="submit"], .box button[type="submit"], a.button {
        font-family: 'Century Schoolbook';
       /* padding done */
        margin: auto;
        padding: 5.5%;
        
    
    font-weight: 700;
    font-size: 1.513rem;
    align-items: center;
    display: flex;
    color: #fff;
        background: #111C56;
    mix-blend-mode: normal;
    border: 4px solid #CBE9FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
   
        
    }
    .login-link{
        font-family: 'Century Schoolbook';
        font-style: italic;
        font-weight: 700;
        font-size: 1.516rem;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center; 
        color: #fff;
        width: 89%;
        left:10%;
       margin-top:7%;
        position: relative;
        
        
    }
    

}
@media only screen and (min-width:601px) and (max-width:769px)
{
    .sign{
        /* header signup */
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.44rem;
line-height: 111%;
/* identical to box height, or 50px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;
height:10%;
width: 60%;
padding-bottom: 50%;
margin:20%;

color: #FFFFFF;
    
    }
    .login-link{
        font-family: 'Century Schoolbook';
        font-style: italic;
        font-weight: 700;
        font-size: 1.516rem;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center; 
        color: #fff;
        width: 89%;
        left:10%;
       margin-top:7%;
        position: relative;
        
        
    }
}
@media only screen and (min-width:780px) and (max-width:1080px)
{
    .sign{
        /* header signup */
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.44rem;
line-height: 111%;
/* identical to box height, or 50px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;
height:20%;
width: 40%;
padding-bottom: 30%;
margin:29%;

color: #FFFFFF;
    
    }
    .login-link{
        font-family: 'Century Schoolbook';
        font-style: italic;
        font-weight: 700;
        font-size: 1.516rem;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center; 
        color: #fff;
        width: 89%;
        left:10%;
       margin-top:7%;
        position: relative;
        
        
    }
}

