

.sign{
    /* Background part */
    
    position: absolute; 
    width: 100%;
    height: 120%;
    background-image: url("../Images/bg.svg"),linear-gradient(136.06deg, #9D4FB3 -12.44%, #102670 39.32%, #020C20 88.35%);  
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;

}

.sign-t{
    /* Signup title */
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 111%;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 5%;
    margin-top: 5%;

} 

.box {
    /* Box part */
    display: block;
    background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
    mix-blend-mode: normal;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 3.104%;
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
      min-height: 8%;
}

.login-link{
    /* already signup */
    font-family: 'Century Schoolbook';
    font-style: italic;
    font-weight: 700;
    font-size: 1.52rem;
    line-height: 120%;
    display: flex;
    justify-content: center;
    text-align: center; 
    color: #fff;
    width: 100%;
    margin-top:6%;
    text-decoration: none;
    
    
}

.box .inputBox label {
/* email,name,password -title */
font-family: 'Century Schoolbook';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 111%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;

color: #CBE9FF;

}


.box .inputBox input {
    /* inputpart for email-password-name */
    background: transparent;
    color: #FFF;
    border: 5px #0C1F5D;
    border-bottom: 5px solid #CBE9FF; 
    font-size: x-large;
    font-family: 'Century Schoolbook';
    font-style: normal;
    letter-spacing: 6.25%;
    margin-bottom: 6%;
    outline: none;
    padding: 3%;
    width: 100%;
    
}


.box input[type="submit"], .box button[type="submit"], a.button {
    /* signup button */
font-family: 'Century Schoolbook';
margin: auto;
padding: 2.7%;
    

font-weight: 700;
font-size: 2.1rem;
align-items: center;
text-align: center;
display: flex;
color: #fff;
background: #111C56;
mix-blend-mode: normal;
border: 4px solid #CBE9FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
width:47%;
justify-content: center;



    
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
    opacity: 0.8;


}
@media only screen and (max-width:500px){

    .sign{
        /* Background part */
        
        position: absolute; 
        width: 100%;
        height: 100%;
        background-image: url("../Images/bg.svg"),linear-gradient(136.06deg, #9D4FB3 -12.44%, #102670 39.32%, #020C20 88.35%);  
        background-repeat: no-repeat;
        background-size: cover; 
        justify-content: center;
    
    }

    .box {
        /* border */
        display: block;
        background:linear-gradient(180deg, #0C1F5D 0%, #202A77 100%);
        mix-blend-mode: normal;
        border: 4px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        top:40%;
        padding: 9.104%;
        position: absolute;
       
        width: 90%;
        height: 78%;
       margin-bottom: 20%;
    
    }
    .sign-t{
        font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 111%;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 30%;
    margin-left: 30%;
    margin-top: 8%;
    text-align: center;
    min-height: 30%;


    }
    .box input[type="submit"], .box button[type="submit"], a.button {
        margin-top: 5%;
        font-family: 'Century Schoolbook';
        padding-top: 2%;
        
    
    font-weight: 700;
    font-size: 1.8rem;
    align-items: center;
    text-align: center;
    display: flex;
    color: #fff;
        background: #111C56;
    mix-blend-mode: normal;
    border: 4px solid #CBE9FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    line-height: 85%;
    width:60%;
    justify-content: center;

   
        
    }
    .login-link{
        font-family: 'Century Schoolbook';
        font-style: italic;
        font-weight: 700;
        font-size: 1.516rem;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center; 
        color: #fff;
        width: 89%;
        left:10%;
       margin-top:10%;
        position: relative;
        justify-content: center;
        
        
    }
    
}
